@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&family=Sono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&family=Sono:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Sono', sans-serif;   
}
body{
    background: #1f242d;
    color: #fff;
    overflow-x: hidden;
}
header{
    margin: 10px 0;
    align-items: center;
    padding: 15px;
}
header h1{
    display: flex;
    justify-content: center;
    width: 100%;
    color: rgb(151, 38, 38);
    font-weight: bold;
}
h3.topo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.adiciona-cards {
    background-color: #262b34;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.3);
    width: 78%;
    margin-top: 15px;
    height: 490px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    border-radius: 40px;
}
.formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 18px;
    justify-content: space-between;
    height: 380px;        
}
input{
    border-radius: 20px;
    height: 45px;
    outline: none;
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0, 0.2);
    font-size: 0.9rem;
    background: none;
    padding-left: 10px;
    width: 65%;
}
textarea{
    width: 65%;
    max-width: 68%;
    font-weight: bold;
    max-height: 80px;
    background: none;
    font-size: 0.9rem;
    color: #fff;
    height: 70px;
    outline: none;
    border: 1px solid #fff;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0, 0.2);
    border-radius: 20px;
    padding: 10px; 
}
.erro {
    background-color: rgba(255, 64, 64, 0.7);
    border-color: rgb(152, 7, 7);
}
.erro::placeholder {
    color: #fff;
}
span {
    font-size: 0.8rem;
    color: rgb(199, 65, 65);
    font-weight: 700;
}
button {
    width: 270px;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 20px;
    border: 2px dashed rgb(24, 183, 24);
    background: none;
    transition: all .6s ease-in-out;
    font-size: 1.1rem;
    cursor: pointer;
    color: green;
    height: 50px;
}
button:hover {
    background-color: rgb(24, 183, 24);
    border: none;
    color: #fff;
    box-shadow: 1px 2px 20px 1px rgba(26, 236, 11, 0.3);
}
button:disabled{
    background-color: grey;
    border: none;
    color: #fff;
    box-shadow: none;
    cursor: auto;
}
.reset {
    border-color: rgb(227, 227, 31);
    color: rgb(227, 227, 31);
}
.reset:hover {
    background-color: rgb(227, 227, 31);
    box-shadow: 1px 2px 20px 1px rgba(227, 227, 31, 0.3)
}
.cards-area {
    width: 95vw;
    margin-top: 40px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    border: 3px dashed #bbb;
    margin-bottom: 15px;
    border-radius: 20px;
    flex-wrap: wrap;
}
.cards-area h3.titulo-area {
    width: 100%;
    margin-top: 15px;
    text-align: center;
    font-size: 1.6rem;
    padding-bottom: 10px;
}
.card {
    width: 350px;
    display: flex;
    cursor: pointer;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    background-color: #262b34;
    transition: all .6s ease-in-out;
    border-radius: 20px;
    height: 580px;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.3);
    z-index: 3;
}
.card img {
    max-width: 350px;
    border-radius: 20px;
    height: 300px;
}
.card .personagem {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 900;
}
.card .card-titulo {
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: bold;
}
.card .descricao {
    width: 90%;
    padding: 10px;
}
